{% extends 'common/base.html' %}
{% load i18n %}
{% block title %}{{ post.title }} |{% endblock %}
{% block body %}
    {{ block.super }}
    <div class="board" style="font-size: 1.2em">
        <h3>{{ error }}</h3>
        <form action="{% url 'post' post_slug %}" method="POST">
            {% csrf_token %}
            <label for="id_password">{% trans 'Enter your password here:' %}</label><br>
            <textarea name="password" id="id_password" cols="30" rows="15" ></textarea><br>
            <button type="submit">{% trans 'Submit' %}</button>
        </form>
    </div>
{% endblock %}