{% extends 'common/base.html' %}
{% load i18n %}
{% block head_extra %}
{{ block.super }}
<style>
textarea {
resize: none
}
</style>
{% endblock %}

{% block title %}{{ post.title }} |{% endblock %}
{% block body %}
    {{ block.super }}
    <div class="general-board" style="font-size: 1.2em">
        <h1 style="text-align: center">{{ post.title }}</h1>
        <h4 style="text-align: center">
            {% trans 'Posted at' %} {{ post.posted }}
        </h4>
        <h4 style="text-align: center">
            {% if post.updated and post.updated != post.posted %}
                {% trans 'Updated at' %} {{ post.updated }}
            {% endif %}
        </h4>
        <div class="article">
            {{ post.content_rendered| safe }}
        </div>
        <hr>
        <div class="article">
        <span>{% trans 'Topics:' %} </span>
        [{% for t in post.original.topic.all %}
            <a href="{% url 'topic' t.name %}"
               style="text-decoration: none; color: #00ff00">
            {{ t.name }}
            </a>
            {% if not forloop.last %}
                /
            {% endif %}
        {% endfor %}]
        </div>
        {% if not request.user.is_anonymous %}
        <h3>{% trans 'Add a comment' %} </h3>
        <form class="pure-form" method='POST' action='{% url "add-comment" post.original.slug %}'>
            <fieldset class="pure-group">
                <textarea class="pure-input-3-4" placeholder="{% trans "hmm, what's on your mind?" %}" name='content'></textarea>
            </fieldset>
            <button type="submit" class="pure-button pure-input-2-4">{% trans 'Comment!' %}</button>
        </form>
        {% else %}
        <h3>{% trans 'Log in to add a comment' %}
        {% endif %}
        <h3>{% trans 'Comments' %}</h3>
        <div class="general-board">
            {% for c in post.original.comments.all %}
            {% if c.parent_comment is None %}
            {% include "weblog/post_comment.html" with c=c %}
            {% endif %}
            <br>
            {% endfor %}
       </div>
    </div>
    {% endblock %}
