{% extends 'common/base.html' %}
{% load i18n %}
{% block title %}{{ post.title }} |{% endblock %}
{% block body %}
    {{ block.super }}
            <div class="board">
    <h1>{% trans 'Replying to comment from ' %} {{ comment.posted_by }} <h1>
                {{ comment.content }}
            </div>
    <div class="general-board" style="font-size: 1.2em">
        <form class="pure-form pure-form-stacked" method='POST' action='{% url 'add-comment' post.slug %}'>
            <input type="hidden" name='parent_comment_id' value='{{comment.pk}}'>
    <fieldset>
        <textarea class='pure-input-1-2' name="content" style='resize: none' placeholder='{% trans 'Your Reply' %}'></textarea>
        <button type="submit" class="pure-button pure-input-1-3">{% trans 'Reply!' %}</button>
    </fieldset>
        </form>
    </div>
{% endblock %}
