{% load i18n %}

<div class="top-bar">
    [
    <a href="/">{% trans 'Home' %}</a>
    /
    <a href="{% url "blog-index" %}">{% trans 'Blog' %}</a>
    /
{#    <a href="{% url 'cv' %}">{% trans 'CV' %}</a>#}
{#    /#}
    <a href="{% url 'stats' %}">{% trans 'Stats' %}</a>
    /
    <a href="{% url 'utils' %}">{% trans 'Utils' %} </a>
    /
    <a href="{% url 'links' %}">{% trans 'Links' %} </a>
    /
    {% if settings.TOPBAR_F1L3 %}
    <a href="{% url 'f1l3' %}">{% trans 'F1L3' %} </a>
    /
    {% endif %}
    {% if settings.TOPBAR_GIT_SITE %}
    <a href="{{ settings.TOPBAR_GIT_SITE }}">{% trans 'git' %} </a>
    /
    {% endif %}
    {% if settings.TOPBAR_SOCIAL_SITE %}
    <a href="{{ settings.TOPBAR_SOCIAL_SITE }}">{% trans 'Social' %} </a>
    /
    {% endif %}
    {% if settings.TOPBAR_CLOUD_SITE %}
    <a href="{{ settings.TOPBAR_CLOUD_SITE }}">{% trans 'Cloud' %} </a>
    /
    {% endif %}
    {% for name, link in settings.TOPBAR_EXTRA_SITES_DICT.items %}
    <a href="{{ link }}">{% trans name %} </a>
    /
    {% endfor %}
    {% if settings.TOPBAR_ABOUT_ME_CV_AND_PORTFOLIO_ENABLED %}
    <a href="{% url 'portfolio' %}">{% trans 'Portfolio' %} </a>
    /
    <a href="{% url "cv" %}">{% trans 'CV' %}</a>
    /
    {% endif %}
    <a href="{% url 'about-me' %}">{% trans 'About' %} </a>
    {% if request.user.is_superuser %}
    /
    <a href='/{{settings.ADMIN_URL}}/'>{% trans 'Admin' %} </a>
    {% endif %}
    ]
{#    <a href="/radio">Radio</a>#}
{#    <a href="/livestream">Livestream</a>#}
{#    <a href="/rss">RSS</a>#}
{#    <a href="/debian">DebianRepo</a>#}
{#    <a href="/dashboard">Dashboard</a>#}
{#    <a href="/archive">WebArchive</a>#}
</div>
